<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>
<body>
    <div class="form">
        <h2>Cadastro</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cadastrar</button>
        </form>
        <p>Já tem uma conta?</p>
        <a href="{% url 'login' %}"><button>Sign in</button></a>
    </div>
</body>
</html>