{% extends "base.html" %}

{% block content %}
    <div id="container">
        <img src="{{anuncio.jogo.imagem.url}}" width="220px" height="280px">
        <div>
            <h2>{{anuncio.jogo.nome}}</h2>
            <p>{{anuncio.jogo.empresa}}</p>
            <p>Proprietário: <span style="text-decoration: underline;">{{anuncio.usuario.nome}}</span></p>
            <p id="descricao">{{anuncio.jogo.descricao}}</p>
            <p>R${{anuncio.valor}}</p>
            <a href="{% url 'compra_anuncio' anuncio.id %}"><button>Comprar</button></a>
        </div>
    </div>
    <style>
        #descricao{
            font-size: 14px;
            color: rgb(102,102,102);
        }
        #container{
            padding: 30px;
            display: flex;
            align-items: center;
            gap: 20px;
        }
        #container div a{
            text-decoration: none;
        }
        button{
            cursor: pointer;
            background-color: #003DBF;
            color: white;
            border: none;
            width: 80px;
            height: 30px;
            border-radius: 5px;
            transition: 0.1s;
        }
        button:hover{
            background-color: #1d54ca;
        }
    </style>
{% endblock %}